<footer class="container mx-auto max-w-5xl">
  <div class="border-t py-5">
    <div class="flex gap-3">
      <a href="https://www.marketenterprise.co.jp/" target="_blank">
        <img
          class="w-36"
          src="./assets/common_me_logo.svg"
          alt="MarketEnterprise"
        />
      </a>
      <p class="text-[10px]">
        株式会社マーケットエンタープライズ
        <br />
        （MarketEnterprise Co.,Ltd.）
        <br />
        〒104-0031 東京都 中央区京橋3-6-18
        <br />
        東京建物京橋ビル3F
      </p>
      <img
        class="w-20 h-20"
        src="./assets/foot_mothers.svg"
        alt="東証マザーズ上場"
      />
      <ul class="text-[11px]">
        <li>北海道公安委員会許可 第101280002259号</li>
        <li>宮城県公安委員会許可 第221030002515号</li>
        <li>埼玉県公安委員会許可 第431040031585号</li>
        <li>東京都公安委員会許可 第307730608365号</li>
        <li>神奈川県公安委員会許可 第451450015098号</li>
      </ul>
      <ul class="text-[11px]">
        <li>愛知県公安委員会許可 第541161210200号</li>
        <li>大阪府公安委員会許可 第622030123963号</li>
        <li>兵庫県公安委員会許可 第631141500030号</li>
        <li>福岡県公安委員会許可 第901071410024号</li>
      </ul>
    </div>
  </div>
</footer>
